<div class="row">
  <NavSettings class="col side-navigation align-items-stretch d-none d-lg-block" />
  <div class="col">
    <div class="container container-sidebar mx-auto">
      {{outlet}}
    </div>
  </div>
</div>