<div class="d-flex flex-row align-items-center align-self-center">
  <div class="mr-1">
    <div class="category-color rounded-circle" style="background-color: {{category.color}}"></div>
  </div>
  <div class="mx-1">
    {{category.name}}
  </div>
  <div class="mx-1">
    {{category.duration}} minutes
  </div>
</div>
