<div class="d-flex flex-row align-items-center align-self-center">
  <div class="mr-2">
    <div class="category-color rounded-circle" style={{category.colorCssStyle}}></div>
  </div>
  <div>
    <div>
      {{category.name}}
    </div>
    <div class="text-sm">
      {{category.duration}} minutes
    </div>
  </div>
</div>
