{{#if this.isSide}}
  <h3>Settings</h3>
{{else}}
  <h1 class="main-no-top-bar">Settings</h1>
{{/if}}
<BsNav
  @type="pills"
  @justified={{false}}
  @stacked={{true}}
  @fill={{false}} as |nav|
>
  <nav.item><nav.link-to @route="settings.categories">Categories</nav.link-to></nav.item>
  <nav.item><nav.link-to @route="settings.openings">Opening hours</nav.link-to></nav.item>
  <nav.item><nav.link-to @route="settings.regional">Regional settings</nav.link-to></nav.item>
</BsNav>