<BsForm @formLayout="vertical" @model={{this.model}} @onSubmit={{action "save"}} as |form|>
  <form.element @controlType="email" @label="Email" @placeholder="john.doe@gmail.com" @property="email" />
  <form.element @controlType="phone" @label="Phone" @placeholder="+41 79 123 45 67" @property="phone" />
  <BsButton @type="primary" @buttonType="submit" class="btn-block-sm mr-lg-2">
    {{#if form.isSubmitting}}
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    {{/if}}
    Save contact details
  </BsButton>
  <LinkTo @route="patients.patient" @model={{this.model}} class="btn btn-tertiary d-none d-sm-inline-block">Cancel</LinkTo>
</BsForm>