{{#each this.activePatients as |patient|}}
<LinkTo @route="patients.patient" @model={{patient}} class="list-group-item list-group-item-action">
  <PatientCard @patient={{patient}} />
</LinkTo>
{{else}}
<p>You've got no patient yet. <LinkTo @route="patients.new">Create your first patient</LinkTo></p>
{{/each}}