<div class="mr-2">
  <Avatar @picture={{patient.picture}} @alt={{patient.fullName}} />
</div>
<div>
  <div class="patient-name">{{patient.fullName}}</div>
  <div class="patient-birthday">{{format-date patient.birthday}}</div>
</div>