h1 {
  margin-bottom: 30px;
}

h1.main {
  margin-top: 20px;
}

h1.main-no-top-bar {
  margin-top: 78px;
}

h1.main-breadcrumb {
  margin-top: 20px;
}

.text-sm {
  font-size: 13px;
}

@include media-breakpoint-up(lg) {
  h1.main {
    margin-top: 60px;
    margin-bottom: 50px;
  }
}
