$black:    #111111;
$blue:    #4E7CF7;
$green: #0BD695;

$body-color: $black;

$font-size-base: 1rem;
$font-size-sm: 13px;

$h1-font-size: 32px;
$h3-font-size: 20px;
$headings-font-weight: 700;

$spacers: (
  1: 5px,
  2: 10px,
  3: 15px
);
