@import "ember-bootstrap/bootstrap";
@import "./typography";
@import "./components/opening-hours-card";

#main {
  margin-top: 20px;
}

.punktli-logo {
  letter-spacing: 15px;
}

.category-color {
  height: 12px;
  width: 12px;
}

.inline-svg {
  margin-right: 5px;
}
