@import "./_variables";
@import "ember-bootstrap/bootstrap";
@import "ember-power-select/themes/bootstrap";
@import "ember-power-select";
@import "./_typography";
@import "./_colors";
@import "./components/avatar";
@import "./components/button";
@import "./components/modal";
@import "./components/nav";
@import "./components/top-bar";
@import "./components/color-picker";
@import "./components/opening-hours-card";
@import "./components/patient-card";
@import "./components/power-select";
@import "./components/time-input";

label {
  font-size: $font-size-sm;
  font-weight: 500;
  margin-bottom: 5px;
}

#main {
  margin-bottom: 50px;
}

@include media-breakpoint-up(md) {
  #main {
    margin-bottom: 0px;
  }
}

.container-sidebar {
  max-width: 960px;
  padding: 0px;
}
@include media-breakpoint-up(md) {
  .container-sidebar {
    padding: 0px;
  }
}

.punktli-logo {
  letter-spacing: 15px;
}

.category-color {
  height: 12px;
  width: 12px;
}

.inline-svg {
  margin-right: 5px;
}

.x-toggle-component {
  justify-content: start;
  margin-bottom: 20px;

  .x-toggle-container.medium {
    width: 51px;
  }

  .x-toggle-container {
    padding: 0;

    .x-toggle-light.x-toggle-btn {
      background: $gray-200;
    }

    .medium {
      width: 36px;
      height: 24px;
    }

    .x-toggle-btn {
      padding: 1px;
    }
  }

  label {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
  }

  label > .x-toggle-btn::after {
    width: 24px;
  }
}

.x-toggle:checked + label > .x-toggle-light.x-toggle-btn {
  background: $success;
}

.x-toggle:checked + label > .x-toggle-btn::after {
  left: 10px;
}

.page-actions {
  margin-top: 30px;
}
