<LinkTo @route="event.new.wizard">Back to your event</LinkTo>
<h1>Your patients</h1>
<LinkTo @route="patients.new" @query={{hash returnURL="event.new.patient"}} class="btn btn-secondary">Create a patient</LinkTo>
<div class="list-group">
{{#each patients as |patient|}}
  <PatientCard @patient={{patient}} href="#" onclick={{action "selectPatient" patient}}></PatientCard>
{{else}}
  No patient yet, <LinkTo @route="patients.new">create your first patient</LinkTo>.
{{/each}}
</div>