<div class="container container-sidebar mx-auto">
  <TopBar>
    <div>
      {{!-- <LinkTo @route="settings.categories"><img src="/assets/icons/arrow-left.svg" alt="" width="24" height="24"></LinkTo> --}}
    </div>
    <div>
      <LinkTo @route="patients.new"><img src="/assets/icons/plus.svg" alt="" width="24" height="24"></LinkTo>
    </div>
  </TopBar>
  <div class="d-flex align-items-center justify-content-between">
    <div>
      <h1 class="main">Patients</h1>
    </div>
    <div>
      <LinkTo @route="patients.new" @outline={{true}} class="btn btn-primary d-none d-lg-inline-block">New patient
      </LinkTo>
    </div>
  </div>
  <PatientsList @patients={{this.model}} />
</div>