<h1>Your patients</h1>
<LinkTo @route="patients.new" class="btn btn-secondary">Create a patient</LinkTo>
<ul class="list-group">
{{#each this.model as |patient|}}
  <li class="list-group-item">{{patient.fullName}}</li>
{{/each}}
</ul>