.btn-tertiary {
  border: 1px solid $gray-200;
  color: $primary;
  background: #FFFFFF;
}

.btn-block-sm {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
@include media-breakpoint-up(sm) {
  .btn-block-sm {
    display: inline-block !important;
    width: auto;
    margin-bottom: 0px;
  }
}
