.navbar {
  border-bottom: 1px solid $gray-200;
}

.navbar-light .navbar-nav .nav-link {
  color: $black;
}

.navbar-light .navbar-nav .nav-link.active {
  color: $primary;
}

.side-navigation {
  width: 200px;
  max-width: 200px;
  border-right: 1px solid $gray-200;
  height: calc(100vh - 67px);
  padding-top: 20px;
}
.nav-pills .nav-link.active {
  background: none;
}

a.nav-link {
  color: $black;
}

.nav-link {
  padding: 13px 0px;
}

.nav-link.nav-link.active {
  color: $primary;
}

.nav-pills .nav-link::after {
  content: url(/assets/icons/chevron-right.svg);
  position: absolute;
  right: 7px;
}

.nav-pills .nav-link.active::after {
  content: url(/assets/icons/chevron-right-primary.svg);
}

nav.fixed-bottom {
  border-top: 1px solid $gray-200;
}

.fixed-bottom {
  padding: 0 1rem;
  border-bottom: none;
  .nav-link {
    padding: 11px 0 12px 0;
  }
  a svg .shape {
    fill: $black;
  }

  a.active svg .shape {
    fill: $primary;
  }

  .nav-link::after {
    content: none;
  }

  .nav-link.active::after {
    content: none;
  }
}

.nav-item.dropdown .dropdown-menu {
  right: 0;
  left: unset;
}

.nav-link.dropdown-toggle::after {
  content: none;
}

.list-group-item {
  border: none;
  padding: 11px 0px;
}

.list-group-item-action::after {
  content: url(/assets/icons/chevron-right.svg);
  position: absolute;
  top: 20px;
  right: 0px;
}

.list-group-item-action:hover {
  background: #FFF;
}

@include media-breakpoint-up(lg) {
  .list-group-item {
    padding: 11px 15px;
  }

  .list-group-item-action::after {
    right: 7px;
  }

  .list-group-item-action:hover {
    background: $gray-100;
  }
}

.dropdown-more {
  padding-right: 43px;
}

.dropdown-more::after {
  content: url(/assets/icons/more-horizontal-primary.svg);
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline !important;
  border: none;
}

.logout-button-container {
  margin-bottom: 50px;
}
