<div class="container container-sidebar mx-auto">
  <TopBar>
    <div>
      {{!-- <LinkTo @route="patients"><img src="/assets/icons/arrow-left.svg" alt="" width="24" height="24">
      </LinkTo> --}}
    </div>
    <div>
      <LinkTo @route="event.new.patient"><img src="/assets/icons/plus.svg" alt="" width="24" height="24"></LinkTo>
    </div>
  </TopBar>
  <div class="d-flex align-items-center justify-content-between">
    <div>
      <h1 class="main">Today</h1>
    </div>
    <div class="d-none d-lg-block">
      <LinkTo @route="event.new.patient" class="btn btn-primary">New event</LinkTo>
    </div>
  </div>
  <EventsList @events={{this.model}} />
</div>