<div class="jumbotron">
  <h1 class="display-4">Give intelligence to your agenda</h1>
  <p class="lead">PUNKTLI helps you manage your time.</p>
  <LinkTo @route="join" class="btn btn-primary btn-lg" role="button">Join now</LinkTo>
</div>
<h1></h1>
<p>PUNKTLI helps you manage your time.</p>

{{outlet}}