<div class="row">
  <div class="col side-navigation  align-items-stretch">
    <h3>Settings</h3>
    <BsNav
      @type="pills"
      @justified={{false}}
      @stacked={{true}}
      @fill={{false}} as |nav|
    >
      <nav.item @linkTo="index">My account</nav.item>
      <nav.item @linkTo="settings.categories">Categories</nav.item>
      <nav.item @linkTo="settings.openings">Opening hours</nav.item>
      <nav.item @linkTo="index">Billing</nav.item>
    </BsNav>
  </div>
  <div class="col">
    <div class="container container-sidebar mx-auto">
      {{outlet}}
    </div>
  </div>
</div>